
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
   width:100%;
   margin: 0;
   padding:0;
   background-color: #fff;
}
html {
   scroll-behavior: smooth;
   overflow-x: hidden;
 }
 
*{
   
   /* margin:0;
   padding:0; */
   
   box-sizing: border-box;
   text-decoration: none; 
   
}
section {
   padding:100px 0;
   
   
   
}
.max-width{
   max-width:100%;
   padding :0 80px;
   margin:auto
}
section{
   width:100%
}
.scroll-up-btn{
   position: fixed;
   height: 45px;
   width: 42px;
   font-size: 50px;
   z-index: 9999;
   right:10px;
   bottom:10px;
   color: crimson;
   cursor:pointer;
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s ease;
}
.scroll-up-btn.show{
   opacity: 1;
   pointer-events: auto;
   bottom:30px;
}
/* <navbar styling> */
.navbar{
   position:fixed;
   width:100%;
   z-index: 999;
   padding:30px 0;
   /* background: crimson; */
   font-family: Ubuntu,sans-serif;
   transition: all 0.3s ease;

}
.navbar.sticky{
   padding:10px 0;
    background: crimson;
}
.navbar .max-width{
   
   /* padding-left: 80px; */
   margin: auto;
   display: flex;
   align-items: center; 
   justify-content: space-between;
}


.navbar .logo a {
   font-size: 35px;
   font-weight: 600;
   color:black
}
.navbar .logo a span{
   color:crimson
}
.navbar.sticky .logo a span{
color:black
}
 .navbar .menu  li {
   list-style: none;
   display: inline-block;
   }
.navbar .menu li a {
   color:white;
   display: block;
   font-size: 18px;
   font-weight: 500;
   margin-left:25px ;
   transition: color 0.3s ease;
}

.navbar .menu li a:hover{
   color:crimson
}
.navbar.sticky li a:hover
{
   color:white
}

/* <menu button styling> */

.menu-btn{
   color:white;
 font-size: 23px;
 cursor: pointer;
   display: none;
  }
.navbar.menu .active{
   left:0
}

.scroll-up-button{
position:fixed;
   height: 45px;
   width:42px;
   background-color: crimson;
   right:30px;
   bottom: 10px;
   text-align: center;
   line-height: 45px;
   color:#fff;
   z-index: 9999;
   font-size: 30px;
   border-radius: 6px;
   cursor: pointer;
   opacity: 0;
   pointer-events: none;
   transition: all 0.3s ease;
}
.scroll-up-button .show{
   bottom:30px;
   opacity: 1;
   pointer-events: auto
}
/* <home section styling> */

.home{
   
   display:flex;
   background: url("./images/final.jpeg") no-repeat center;
   /* background-repeat: no-repeat; */
  /* background-size: ; */
  background-size: cover;
  height:100vh;
  min-height: 500px;
  background-attachment: fixed;
  font-family: 'Ubuntu',sans-serif;
}
.home .max-width{
   margin:auto 0 auto 40px;
   
    justify-content: space-between;
   
   
   }
   .home .home-content .text-1{
      color:black;
      font-size: 27px;
      font-family: Ubuntu,sans-serif;
   }
   .home .home-content .text-2{
      color:black;
      font-size: 75px;
      font-weight: 600;
      margin-left: -3px;
      font-family: Ubuntu,sans-serif;
   }
   
.home .home-content .text-3{
   color:black;
   font-size: 25px;
   margin: 5px 0  ;
   font-family: Ubuntu,sans-serif;

}

.home .home-content .text-3 span{
   color:crimson;
   font-weight: 500;
 

}
/* .jj{
   height: 600px;
   padding-top:100px;
  margin-right: -100px;
   border-radius: 30%;
   border:0%

}

.bodysection{
   background-color:rgb(248, 246, 242);
} */
.home .home-content{
   padding:240px ;
   padding-left: 100px;

}


.home .home-content a{
   display:inline-block;
   background: crimson;
   color:#fff;
   font-size: 25px;
 padding :12px 36px;
 margin-top: 20px;
 border: 2px solid crimson;
 border-radius: 6px;
 transition: all 0.3s ease;
}

/* <all similar styling> */

/* <git style> */
.git-hub{
   width: 100%;
   margin-top: 10px;
   text-align: center;

}

.git-hub h2{
   color: crimson;
   font-family: 'Poppins', sans-serif;
}

.github-img-cont{
   margin-top: 10px;
width: 100%;



}

.github-img-cont img{
   width: 100%;
}


section .title{
   position: relative;
   text-align: center;
   font-size: 40px;
   margin-bottom: 40px;
   padding-bottom: 20px;
   font-weight: 600;
   font-family: 'Ubuntu',sans-serif;  
}
section .title::before{
   content:"";
   position: absolute;
   bottom: 0px;
   left:50%;
   width:180px;
   height:3px;
   background: #111;
   transform: translateX(-50%);
}
section .title::after{
   
   position: absolute;
   bottom: -10px;
   left:50%;
   font-size: 20px;
   color:crimson;
  padding:5px;
   background: #fff;
   transform: translateX(-50%);
}

/* <about section styling> */

.about,.project,.services,.skills ,.contact {
font-family: 'Poppins',sans-serif;

}
.about .title::after{
   content:"who i am";
}

.about .about-content{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}
.about .about-content .left {
width:35%
}
.about .about-content .left img {
    width:300px;
    height:300px;
    border-radius: 5%;
}
.about .about-content .right {
   width:65%;
   margin-left: -50px;
   
   }
   .about .about-content .right .text {
      font-weight: 600;
      font-size: 30px;
      bottom:20px;
      color:crimson
      }

      .about .about-content .right li{
         text-align: justify;
         font-family: 'Poppins',sans-serif;
         font-weight: 100;
         font-size: 18px;
         

      }

      .about .about-content .right a{
         display:inline-block;
         background: crimson;
         color:#fff;
         font-size: 20px;
       padding :1px 36px;
       margin-top: 25px;
       border: 2px solid crimson;
       border-radius: 6px;
       transition: all 0.3s ease;
      }
      .about .about-content .right a:hover{
         color:crimson;
         background: none;
      }


/* <project section styling> */

.project .title::after{
   content:"what i know";
}
.project{
   color:#fff;
   background:#111
}
.project .title::before{
   background: #fff;
}
.project .title::after{
   background:#111
}
.project .carousel .card{
background:#222;

border-radius: 6px;
padding:25px 35px;
text-align: center;
transition: all 0.3s ease ;
}
.project .carousel .card:hover{
   background:crimson ;
}
.project .carousel .card .text{
   font-size: 25px;
   font-weight: 500;
 color:antiquewhite;
   margin :10px 0 7px 0
}
/* .box{
   height:600px;
   background-color: aliceblue;
} */
.project .carousel .card .box{
display:flex;
height:800px;
flex-direction: column;
align-items: center;
justify-content: center;
transition: all 0.3s ease;
}
.project .carousel .card .box .content{
   height:600px;
   
}
.project .carousel .card:hover .box
{
   transform: scale(1.05);
}
.imgbox{
   height:300px
}
.skillji h3{
   color:antiquewhite;
   margin-top:8px
}
.skillji{
   text-align: left;

   
}
.project .carousel .card img{
   height:200px;
   width:200px;
   margin-left: 35px;
   object-fit: cover;
   border-radius: 50%;
   border :5px solid white
}
.project .carousel .card:hover img{
   border-color: #fff;
}

.tools-section{
   width: 200px;
   margin-left: 20px;
   display: flex;
   padding-top: 30px;
   justify-content: space-between;
   
   
}
.tools-section a {
  color:white
}

.owl-dots{
   text-align: center;
   margin-top: 20px;
}
.owl-dot{
   height:13px;
   width:13px;
   margin:0 5px;
   outline: none!important;
   border-radius:50%;
   border:2px solid crimson!important;
   transition: all 0.3s ease;
}
.owl-dot.active{
width:35px;
border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
background:crimson;
}


/* <skill section styling> */

.skills{
   font-family: 'Poppins',sans-serif;
   font-weight: bold;
   background-color: #fff;
   
   height:500px;
   margin-top: 30px;
   
   padding-top: 20px;
   color:#111
}

.skills .title ::before{
   background-color: #111;
   color: #fff;
  
}

.skills .title::after{
   content:"what i know";
   background-color:#fff;
   

  
}
.skills .skills-content {
   
   display: flex;
   justify-content: center;
   
}
.skills .skills-content .left{
   width:50%
}


.skills .skills-content .left .logo{
   
   
   /* border: 10px solid black; */
   display: grid;
   grid-template-columns: repeat(4,1fr);
   

padding:0
  
}

/* ////logos */

.skills .skills-content .left .logo img{
   width: 70%;
   height: 70%;
   
   border-radius: 50%;
}

.skills .skills-content .right{
   width:50%;
   margin-left: 100px;
   
}
.skills .skills-content .right .bars{
   margin-bottom: 15px;
}
.skills .skills-content .right .info{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.skills .skills-content .right span{
   font-weight: 500;
   font-size: 18px;
}

.skills .skills-content .right .line{
   height:5px;
   width:100%;
   background: lightgray;
   position: relative;
}
.skills .skills-content .right .line::before{
   content:"";
   position:absolute;
   height: 100%;
   width: 80%;
   left: 0;
   right: 0;
   background: crimson;
}
.skills .skills-content .right .html::before{
   width: 90%;
}
.skills .skills-content .right .css::before{
   width: 80%;
}.skills .skills-content .right .js::before{
   width: 60%;
}.skills .skills-content .right .react::before{
   width: 70%;
}.skills .skills-content .right .redux::before{
   width: 60%;
}.skills .skills-content .right .mongodb::before{
   width: 70%;
}.skills .skills-content .right .expressjs::before{
   width: 50%;
}

.gitcal{
   margin-top: 50px;
   background-color: #fff;
   color: #111;
}

.git-hub{
   width: 100%;
   text-align: center;
   }

.git-hub p{
   color: crimson;
   font-weight: 600;
   font-size: 25px;
   font-family: 'Poppins', sans-serif;
}


.github-img-cont{
   margin-top: 10px;
   width: 100%;
   color: #111;


}

.github-img-cont img{
   width: 100%;
}

/* <Education section styling> */
.education{
 
   margin-top: 30px;
   color:#fff;
   padding-top: 20px;
   background-color:#111
}
.eduhead{
   font-size: 150px;
   font-weight: 500;
}
.education .title::before{
background-color:#fff;
}
.education .title::after{
   content:"what i know";
   background-color: #111;
   
}
.education .max-width .card{
   display:flex;
   
   justify-content:center;
  
   color: antiquewhite;
  
}
.education .box .pic{

   display: flex;
   justify-content: center;
}
.education .box .content{
   margin-top: 30px;
   line-height: 25%;
}
.masai{
   height:80%;
   width:80%;
   
}
.kv{
   height:70%;
   width:70%;
}
.education .box {
   margin: auto;
   padding-top: 30px;
   padding-bottom: 20px;
   width:25%;
   height:100%;
   border-radius: 5%;
   background-color: #222;
   
   text-align: center;

  
}
.education .card .box .content p{
   
   font-size: 15px;
   font-weight: bold;
   color: antiquewhite;
}

.education .box img{
   border-radius: 50%;
   display:flex;

   

  
}


.education .card   :hover {
   background-color: crimson;
}


/* <contact section styling> */
.contact{
   
   background-color: #fff;
   color: #111;
}
.contact .title::after{
   content:"get in touch";
   background-color: #fff;
}
.contact .contact-content{
   display: flex;
   width:70%;
   margin: auto;
   align-items: center;
   justify-content: space-between;
   
   
}
.contact  .title::before{
   background-color: #111;
   
   

}

.contact .contact-content .text{
   font-weight: bold;
   font-size: 25px;
   }
   .contact .contact-content .left .row{
      display: flex;
      
   }
   .contact .contact-content .left .row i{
      font-size: 30px;
      margin-top: 10px;
      color: crimson;
   }
   .contact .contact-content .left .row{
      margin-top: 15px;
   }
   .contact .contact-content .left .row .info{
      margin-top: 10px;
      margin-left: 40px;
line-height: 20px;
   }
   .contact .contact-content .left .row .info .head{
      font-weight: bold;
   }

   .contact .contact-content .right{
width:70%;
      
    
      margin-left: 80px;    
      }
      .contact  .right form  .fieldstwo{
         display: flex;
         margin-top: 10px;
      }
      .contact  .right form  .field,
      .contact  .right form .fields .field{
height:45px;
width:100%;
margin-bottom: 15px;
}
.contact  .right form  .field input,
.contact  .right form .textarea textarea{
   height:100%;
   width:100%;
   border: 1px solid lightgray;
   border-radius: 6px;
   outline: none;
   padding: 0 15px;
   font-size: 17px;
   font-family: "Poppins" sans-serif;
}
.contact  .right form .name{
   margin-right: 10px;
}
.contact  .right form .email{
   margin-left: 10px;
}
.contact  .right form .textarea textarea{
   padding-top: 10px;
   height:80px;
   width: 100%;
   resize: none;
}
.contact  .right form   .button button{
   margin-top: 33px;
   height:47px;
   width:170px;
   border: 2px solid crimson;
   background:crimson;
   color:#fff;
   font-size: 20px;
   font-weight: 500;
   border-radius: 6px;
   transition: all 0.3s  ease;
   cursor: pointer;
}
.contact  .right form .button button :hover{
   background-color:none;
   color: crimson;
}

/* <footer section styling> */
footer{
   background-color:#111;
   padding: 20px 23px;
   color:#fff;
   display: flex;
   justify-content: center;
   
}
footer span a{
   color: crimson;
   text-decoration: none;
}
footer span a:hover{
   text-decoration: underline;
}
/* responsive media query start */
@media (max-width: 1104px) {
   .max-width{
      max-width:100%;
      padding :0 80px;
      margin:auto
   }
      .home .home-content .text-2{
         color:black;
         font-size: 45px;
         font-weight: 600;
         margin-left: -3px;
         font-family: Ubuntu,sans-serif;
      }
   .about .about-content .left img{
       height: 350px;
       width: 300px;
   }
   
   
}
@media (max-width: 991px) {

   .home{
       display: flex;
       
      
     background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPwAAAB+CAMAAAA3DYyGAAAAA1BMVEX///+nxBvIAAAANklEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAvA3yGAAH836OeAAAAAElFTkSuQmCC");
       background-size:cover;
       color: #fff;
       background-attachment: fixed;
      

   }

   .max-width{
       padding: 0 50px;
   }
}


@media (max-width: 947px){
   .skills .skills-content .left .logo{
      /* border: 10px solid black; */
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap:20px;
  
  padding:0
    
  }
   .home{
       display: flex;
       background: url(none);
      
       width: 100%;
       height:50vh;
       background-size:cover;
       color: #fff;
       background-attachment: fixed;
      

   }
   
   .home .home-content{
      padding:0px ;
      padding-left: 80px;
   
   }
   .menu-btn{
       display: block;
       z-index: 999;
   }
   .menu-btn i.active:before{
       content: "\f00d";
   }
   .navbar .menu{
       position: fixed;
       height: 100vh;
       width: 90%;
       left: -100%;
       top: 0;
       background: #111;
       text-align: center;
       padding-top: 80px;
       transition: all 0.3s ease;
   }
   .navbar .menu.active{
       left: 0;
   }
   .navbar .menu li{
       display: block;
   }
   .navbar .menu li a{
       display: inline-block;
       margin: 20px 0;
       font-size: 25px;
   }
   .home .home-content .text-2{
       font-size: 70px;
   }
   .home .home-content .text-3{
       font-size: 35px;
   }
   .home .home-content a{
       font-size: 23px;
       padding: 10px 30px;
   }
   .max-width{
       max-width: 930px;
   }
   .about .about-content .column{
       width: 100%;
   }
   .about .about-content .left{
       display: flex;
       justify-content: center;
       margin: 0 auto 60px;
   }
   .about .about-content .right{
       flex: 100%;
       padding-left: 50px;
   }
   .services .serv-content .card{
       width: calc(50% - 10px);
       margin-bottom: 20px;
   }
   .skills .skills-content .column,
   .contact .contact-content .column{
       width: 100%;
       margin-bottom: 35px;
   }
  
}

@media (max-width: 690px) {
   .education .max-width .card{
      display:inline-block;
     margin-left: 30px;
     
      color: antiquewhite;
     
   }

   .education .box {
     width:100%;
     margin:auto;
     align-items: center;
     margin-top: 30px;
   }
   .contact .contact-content{
      display: inline;
   
      margin: auto;
      align-items: center;
      justify-content: space-between;
      
      
   }
   .contact .contact-content .right{
    margin-top: 20px;   
            }
   .home{
   
      display:flex;
      background: url(none) no-repeat center;
      /* background-repeat: no-repeat; */
     /* background-size: ; */
     background-size: cover;
     height:50vh;
     min-height: 500px;
     background-attachment: fixed;
     font-family: 'Ubuntu',sans-serif;
   }
   
   .max-width{
       padding: 0 23px;
   }
   .home .home-content .text-2{
       font-size: 60px;
   }
   .home .home-content .text-3{
       font-size: 32px;
   }
   .home .home-content a{
       font-size: 20px;
   }
   .services .serv-content .card{
       width: 100%;
   }

   /* /// */
   .teams .carousel .card .box{
  
       display: flex;
       flex-direction: column;
      
       align-items: center;
       justify-content: center;
       transition: all 0.3s ease;
   }
}


@media (max-width: 500px) {
.navbar{
   padding:0;
   margin:0;
}
   .navbar.sticky{
   padding:0;
   margin:0;
       background: crimson;
   }
   .home{
   
      display:flex;
      background: url(none),no-repeat center;
      /* background-repeat: no-repeat; */
     /* background-size: ; */
     background-size: cover;
     height:50vh;
     min-height: 500px;
     background-attachment: fixed;
     font-family: 'Ubuntu',sans-serif;
   }
    .home .home-content .text-2{
        font-size: 30px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .skills .skills-content .left .logo{
       /* border: 10px solid black; */
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap:20px;
   
   padding:0
     
   }
   .skills .skills-content .left .logo img{
      width: 100%;
      height: 100%;
      
      border-radius: 50%;
   }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    
   
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    /* /// */
    .teams .carousel .card .box{
   
        display: flex;
        flex-direction: column;
       
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }


   
}
